{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST" enctype="multipart/form-data">  <!-- Добавлено enctype -->
        {% csrf_token %}
        <h2>Данные пользователя</h2>
        {{ user_form.as_p }}  <!-- Поля из формы пользователя -->

        <h2>Дополнительная информация</h2>
        {{ profile_form.as_p }}  <!-- Поля из формы профиля -->

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
